div {
    margin: 10px;
    text-indent: 2%;
    font: 1.5rem "Fira Sans", sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Arial', 'Verdana', sans-serif;

}

h2 {
    text-align: center;
    margin-top: 60px;
    font-family: 'Arial', 'Verdana', sans-serif;

}

footer {
    background-color: gainsboro;
    color: black;
    font-family: Arial;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right;
}

header {
    position: absolute;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: gainsboro;
    text-indent: 0%;
    border: 1px;
    border-radius: 25% 20% / 18% 40%;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
}


main {
    margin-right: 200px;
    margin-bottom: 30px;
}

.bank-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 49%;
}

.call {
    font-size: small;
}

#sidebar ul li a:hover {
    color:mediumblue;
    transition: 0.5s;
}

.news {
    width: 500px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
    transition: 0.5s;
    height: 360px;
    text-align: center;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.news h1 {
    font-size:2cap;
}

.news button {
    background-color: #004896c2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position:sticky;
    bottom: 0px;
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calculator div {
    margin-bottom: 20px;
}

.calculator label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.calculator input[type="number"],
.calculator input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.calculator input[type="text"] {
    background-color: #fff;
}

.calculator p {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.call-center-info {
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;
}
.call-center-info h3 {
    margin-top: 0;
    font-family: 'Arial', 'Verdana', sans-serif;
}
.call-center-info ul {
    list-style-type: none;
    padding: 0;
}
.call-center-info ul li {
    margin-bottom: 5px;
}