div {
    margin: 10px;
    text-indent: 2%;
    font: 1.5rem "Fira Sans", sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Arial', 'Verdana', sans-serif;

}

h2 {
    text-align: center;
    margin-top: 60px;
    font-family: 'Arial', 'Verdana', sans-serif;

}

footer {
    background-color: gainsboro;
    color: black;
    font-family: Arial;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right;
}

header {
    position: absolute;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: gainsboro;
    text-indent: 0%;
    border: 1px;
    border-radius: 25% 20% / 18% 40%;}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
}


main {
    margin-right: 200px;
    margin-bottom: 30px;
}

.bank-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 49%;
}

.call {
    font-size: small;
}

#sidebar ul li a:hover {
    color:mediumblue;
}